/* src/pages/SignUpPage.module.css */
.signUpContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  max-resolution: 500px;
}

.signUpBox {
  display: flex;
  width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signUpLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signUpRight {
  flex: 1;
  padding: 40px;
}

.signUpTitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  line-height: 40.32px;
  color: #010220;
}

.Paragraph {
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
  text-align: center;
  color:#287BFF;
}

.InputText {
  font-size: 16px;
  font-weight: 800;
  line-height: 20.16px;
  text-align: left;
  color: #010220;
;
}

.signUpForm {
  display: flex;
  flex-direction: column;
}

.signUpInput {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.signUpButton {
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.signUpButton:hover {
  background-color: #0056b3;
}

.signUpText {
  font-size: 14px;
  color: #555;
}

.signUpLink {
  color: #007BFF;
  text-decoration: none;
}

.signUpLink:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 1050px) {
  .signUpBox {
    flex-direction: column;
  }

  .signUpLeft {
    display: none;
  }

  .signUpRight {
    width: 100%;
    border-radius: 10px;
  }
}

@media (max-width: 700px) {
  .signUpContainer {
    padding: 20px;
  }

  .signUpBox {
    width: 100%;
    border-radius: 10px;
  }

  .signUpRight {
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .signUpInput {
    font-size: 14px;
  }

  .signUpButton {
    font-size: 14px;
  }

  .signUpText {
    font-size: 12px;
  }
}